.Container {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 41%;
}

.right {
    width: 59%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    flex-direction: column;
}

.logo {
    width: 150px;
}



.illustration {
    width: 76%;
    height: 71%;
    position: relative;
    left: 0%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

h1 {
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.input-field {
    width: 100%;
    padding: 10px;
}


.button-container {
    display: flex;
    justify-content: center;
}

.confirm-button {
    padding: 10px 40px;
    background-color: #FF9138;
    color: #ffffff;
    font-weight: bold;
}