.Container {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
}

.left {
    display: flex;
    width: 41%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 170;
    aspect-ratio: 3/2;
}

.login-form {
    width: 100%;
    max-width: 300px;
}

.login-form .ant-form-item {
    margin-bottom: 16px;
    width: 100%;
}



.right {
    width: 59%;
    height: 100vh;
    background-color: #ffffff;
}
